{% extends "transactions/base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<div>
    <h1 class="text-3xl font-extrabold text-gray-900 tracking-tight">Settings</h1>
    <p class="text-sm text-gray-500 mt-1">Manage your application settings and preferences.</p>
    
    <!-- Settings -->
    <div class="mt-8 bg-white border border-gray-200 rounded-xl p-8 text-center shadow-sm h-96 flex flex-col items-center justify-center border-dashed">
 
    </div>
</div>
{% endblock %}